{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.css">
    <link href="{% static 'css/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            {% if user.is_authenticated %}
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="{% static 'images/Bitrix24_GoldPartner.png' %}" alt="user-image" class="rounded-circle">
                            <span class="d-none d-sm-inline-block ml-1 font-weight-medium">{{ user.username }}</span>
                        </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow text-white m-0">Welcome !</h6>
                        </div>
                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout-variant"></i>
                                <span>Logout</span>
                            </a>
                    </div>
                </li>
            </ul>
            {% else %}
            <a href="{% url 'signin' %}" class="btn btn-outline-warning float-right topnav-menu list-unstyled mb-0" style="margin-top: 16px;">Sign in/Sign up</a>
            {% endif %}

            <!-- LOGO -->
            <div class="logo-box" >
                <a href="{% url 'index' %}" class="logo text-center logo-dark">
                        <span class="logo-lg">
                            <img src="{% static 'images/Bitrix24_GoldPartner.png' %}" alt="logo" alt="logo" width="150" height="100">
                        </span>
                        <span class="logo-sm">
                            <img src="{% static 'images/Bitrix24_GoldPartner.png' %}" alt="logo" height="22">
                        </span>
                    </a>

                <a href="{% url 'index' %}" class="logo text-center logo-light" >
                        <span class="logo-lg">
                            <img src="{% static 'images/Bitrix24_GoldPartner.png' %}" alt="logo" width="150" height="100">
                        </span>
                        <span class="logo-sm">
                            <img src="{% static 'images/Bitrix24_GoldPartner.png' %}" alt="logo" height="22">
                        </span>
                    </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect waves-light">
                        <i class="fa-solid fa-bars" style="color: #f6f5f4;"></i>
                        </button>
                </li>

                <li class="d-none d-sm-block">
                    <form class="app-search">
                        <div class="app-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->

        <div class="left-side-menu">
            <div class="slimscroll-menu">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="{% url 'index' %}">
                                    <i class="fa-solid fa-chart-pie" style="color: #f6f5f4;"></i>
                                    <span> Dashboard </span>
                                </a>
                        </li>

                        <li>
                            <a href="{% url 'members' %}">
                                    <i class="fa-solid fa-person" style="color: #f6f5f4;"></i>
                                    <span> Members </span>
                                </a>
                        </li>

                        <li>
                            <a href="{% url 'feed' %}">
                                    <i class="fa-solid fa-file-lines" style="color: #f6f5f4;"></i>
                                    <span> Feed </span>
                                    <span class="badge badge-danger badge-pill float-right">New</span>
                                </a>
                        </li>
                    </ul>
                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

            {% block content %}{% endblock content %}

            </div>

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2024 &copy; Created by <a href="">Buta</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

    </div>
    <!-- END wrapper -->

    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/morris-js/morris.min.js' %}"></script>
    <script src="{% static 'libs/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>